@import 'principal.css';

#nav-link-criar{
  border-bottom: 2px solid white;
}

#cont-quiz{
  background-color: var(--c-back-conteiner);
  width: inherit;
  height: fit-content;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
}

#cont-quiz::after, #cont-quiz::before {
	content: ' ';
	display: table;
}

#cont-quiz::after {
	clear: both;
}

#titulo-princ{
  margin: 5vh auto 7vh;
}

#titulo-princ h1{
  background-color: var(--c-back-titulo);
  font-size: 37px;
  text-align: center;
  width: fit-content;
  margin: 2vh auto;
  padding: 0 10px;
}

#titulo-princ p{
  text-align: left;
  margin: 0 2vw;
}

.div-input{
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: block;
  position: relative;
}

.div-input label{
  color: var(--c-f-titulo);
  font-family: var(--f-titulo);
  font-size: 22px;
}

.obrigatorio::after{
  content: ' *';
  color: var(--c-vermelho-ros);
  font-size: 19px;
}

.div-input input{
  color: var(--c-f-normal);
  font-family: var(--f-normal);
  font-size: 18px;
  width: 90%;
  margin: 12px auto 0;
  padding: 7px 10px;
  display: block;
}

.div-pergunta{
  margin: 7vh auto 2vh;
  padding: 20px;
  border: 1px solid var(--c-cinza-escuro);
  border-radius: 8px;
}

.div-pergunta .div-pergunta-titulo{
  background-color: var(--c-back-conteiner);
  width: fit-content;
  margin: -40px 0 2vh 30px;
  padding: 5px 20px;
}


input[type='radio'], input[type='checkbox']{
  left: 30px;
  position: relative;
  width: fit-content;
}

input[type='radio'], input[type='checkbox']{
  margin: 10px 40px 10px 0;
  display: inline-block;
}

.p-rd-cbx{
  display: inline-block;
  cursor: default;
}

.div-rd-cbx-inline{
  display: inline-block;
}

.div-input .txt-tempo{
  font-size: 20px;
  text-align: center;
  width: 50px;
  padding: 10px 10px;
  display: inline;
}

.div-input #div-div-tempo{
  text-align: center;
  width: fit-content;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 120px 20px 120px;
}

.div-input #div-div-tempo span{
  margin: 15px 0;
  font-size: 30px;
}

.div-input #div-div-tempo .sec-tempo{
  display: grid;
  grid-template-columns: repeat(2, 80px);
}

section.sec-tempo p{
  font-weight: bold;
  margin: auto;
}

div.div-btn-tempo{
  width: 35px;
  margin: 12px 0 0;
  display: grid;
  grid-template-rows: repeat(2, 30px);
}

div.div-btn-tempo button{
  font-size: 17px;
  width: fit-content;
  margin: 0;
  padding: 7px 10px;
  border: 1px solid var(--c-cinza-escuro);
  border-radius: 3px;
}

.pre-vis-cor1{
  background: var(--c-cor1);
}

.pre-vis-cor2{
  background: var(--c-cor2);
}

.pre-vis-cor3{
  background: var(--c-cor3);
}

.pre-vis-cor4{
  background: var(--c-cor4);
}

.pre-vis-cor5{
  background: var(--c-cor5);
}

.pre-vis-cor6{
  background: var(--c-cor6);
}

.pre-vis-cor7{
  background: var(--c-cor7);
}

.pre-vis-cor8{
  background: var(--c-cor8);
}

.pre-vis-cor9{
  background: var(--c-cor9);
}

.pre-vis-cor10{
  background: var(--c-cor10);
}

.pre-vis-cor11{
  background: var(--c-cor11);
}

.pre-vis-cor12{
  background: var(--c-cor12);
}

div#pre-vis-aparencia{
  height: 47vh;
  padding: 10px 40px;
  border: 1px solid var(--c-cinza-escuro);
  border-radius: 8px;

  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

div#pre-vis-temp{
  background-color: var(--c-cor3);
  font-family: var(--f-resposta);
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  margin: 20px;
  padding: 5px 20px;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
}


div#pre-vis-temp p{
  color: var(--c-cor4);
  margin: 0;
  padding: 0;
}

div#pre-vis-pont{
  width: fit-content;
  margin: 70px 20px 20px;
  padding: 5px 20px;
  border: 1px solid var(--c-cor4);
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.123);
}

div#pre-vis-pont p{
  border-bottom: 2px solid var(--c-cor3);
  font-family: var(--f-pergunta);
  padding: 0 3px;
 }

div#pre-vis-pont ul{
 padding: 0;
}

div#pre-vis-pont ul li{
  font-family: var(--f-resposta);
  font-size: 14px;
  list-style: none;
 }

div#pre-vis-quiz{
  width: 250px;
  height: 310px;
  margin-top: 30px;
  border-radius: 5px;
  display: inline-block;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.233);
}

div#pre-vis-header{
  padding: 20px;
}

p#pre-vis-tema{
  color: var(--c-cor2);
  font-size: 15px;
  font-family: var(--f-resposta);
  width: fit-content;
  margin: 10px 0 20px;
  border-bottom: 2px solid var(--c-cor3);
}

p#pre-vis-pergunta{
  color: var(--c-cor4);
  font-size: 16px;
  font-family: var(--f-pergunta);
  overflow: hidden;
}

div#div-div-muda-aparencia{
  width: 100%;
  padding: 10px 20px;
  display: block;
}

div.div-cor-aparencia{
  display: inline-block;
  margin-right: 30px;
}

div#div-div-muda-aparencia p{
  margin: 5px 5px 5px 20px;
}

button.pre-vis-btn{
  width: 60px;
  height: 60px;
  padding: 0;
  border: 2px solid var(--c-cinza-escuro);
  border-radius: 50%;
  display: inline-block;
  left: 50%;
}

.grid{
  display: grid;
}

div.div-cor-btn{
  background-color: var(--c-back-conteiner);
  margin: -10px 10px 0;
  padding: 10px;
  border: 1px solid var(--c-cinza-escuro);
  border-radius: 5px;
  position: absolute;
  display: none;
  grid-template-columns: repeat(3, 50px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.233);
  z-index: 1000;
}

button.btn-cor-btn{
  width: 30px;
  height: 30px;
  padding: 0;
  border: 2px solid var(--c-cinza-escuro);
  border-radius: 50%;
}

div#div-div-fonte{
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

p.lis-fon-exemplo{
  font-size: 28px;
  text-align: left;
  width: 70%;
  height: 5vh;
  margin: 2.5vh auto 4vh;
  padding: 5px 20px;
  border: 1px solid var(--c-cinza-medio);
  border-radius: 5px;
}

p.lis-fon-titulo{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

ul#lis-fonte-p, ul#lis-fonte-r{
  width: 250px;
  max-height: 20vh;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid var(--c-cinza-claro);
  border-radius: 5px;
  list-style: none;
  display: inline-block;
}

ul#lis-fonte-p li, ul#lis-fonte-r li{
  font-size: 19px;
  width: inherit;
  padding: 6px 10px;
  display: inline-block;
}

ul#lis-fonte-p li:hover, ul#lis-fonte-p li:active,
ul#lis-fonte-r li:hover, ul#lis-fonte-r li:active{
  background-color: var(--c-cinza-claro);
  cursor: pointer;
}

div.div-lis-fon-estilo{
  text-align: center;
  margin: 15px auto 4vh;
  padding: 5px 10px;
  border: 1px solid var(--c-cinza-claro);
  border-radius: 5px;
}

div.div-lis-fon-estilo i{
  font-size: 22px;
  margin: 0 20px;
  padding: 8px 10px;
  border-radius: 50%;
  display: inline-block;
}

ul#lis-fonte-p:hover, ul#lis-fonte-r:hover, div.div-lis-fon-estilo:hover{
  border: 1px solid var(--c-cinza-escuro);
}

div.div-lis-fon-estilo i:hover, div.div-lis-fon-estilo i:active{
  background-color: var(--c-cinza-claro);
}

div.div-lis-fon-estilo i:hover, div.div-lis-fon-estilo i:active{
  cursor: pointer;
}

button.btn-add-r, button#btn-add-p{
  background-color: var(--c-cinza-claro);
  font-size: 20px;
  width: 60%;
  margin: 1vh auto 0;
  border: 1px solid var(--c-cinza-escuro);
  border-radius: 30px;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

button.btn-add-r:hover, button#btn-add-p:hover{
  filter: brightness(94%);
}

div#div-btn-pag button{
  margin: 7vh 0 0;
  background-color: var(--c-azul-medio);
  font-size: 25px;
  color: white;
  float: right;
}

div#div-btn-pag button:hover{
  background-color: var(--c-amarelo);
  color: var(--c-cinza-escuro);
  transform: scale(102%);
}

div#div-btn-pag button.btn-pag-left{
  float: left;
}



