@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto&display=swap');

:root{
  --c-cinza-claro: #e9e9e9;
  --c-cinza-claro-creme: #f4f1de;
  --c-cinza-medio: #9e9e9e;
  --c-cinza-escuro: #353535;
  --c-amarelo: #f5db44;
  --c-azul-claro: #01b9f1;
  --c-azul-medio: #0193e7;
  --c-azul-escuro: #0080d6;
  --c-vermelho-ros: #f75578;
  --c-rosa: #FF7C7C;
  --c-verde-claro: #80FF93;

  --c-back: var(--c-azul-claro);
  --c-back-conteiner: white;
  --c-back-titulo: linear-gradient(180deg, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 57%, var(--c-amarelo) 57%, var(--c-amarelo) 97%);
  --c-f-titulo: black;
  --c-f-normal: var(--c-cinza-escuro);

  --f-normal: 'Open Sans', sans-serif;
  --f-titulo: 'Roboto', sans-serif;
}

body{
  background-color: var(--c-back);
  color: var(--c-f-normal);
  font-family: var(--f-normal);
  font-size: 17px;
  margin: 0;
  padding: 0;
}

body>*{
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--f-titulo);
  font-weight: bold;
  color: var(--c-f-titulo);
}

#cont-princ{
  background-color: transparent;
  width: 700px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

button{
  font-size: 22px;
  width: fit-content;
  margin: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.08s;
}

button:hover{
  outline: none;
  cursor: pointer;
}

button i{
  transform: scale(80%);
}

/*
left: 50%;
-ms-transform: translateX(-50%);
transform: translateX(-50%);
position: absolute;
*/