@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Heebo&family=Open+Sans:wght@400&family=Roboto&family=Montserrat&family=Playfair+Display&family=Roboto+Mono&family=The+Nautigal&family=Oswald&family=Dancing+Script&display=swap');

:root{
  --c-cinza-claro: #e9e9e9;
  --c-cinza-claro-creme: #f4f1de;
  --c-cinza-medio: #9e9e9e;
  --c-cinza-escuro: #353535;
  --c-amarelo: #faec53;
  --c-azul-claro: #01b9f1;
  --c-azul-medio: #0193e7;
  --c-azul-escuro: #0080d6;
  --c-vermelho-ros: #f75578;
  --c-verde-claro: #80FF93;

  --c-back: linear-gradient(145deg, #01b9f1 0%, #73faff 100%);
  --c-back-conteiner: white;
  --c-back-titulo: var(--c-amarelo);
  --c-f-titulo: black;
  --c-f-normal: var(--c-cinza-escuro);

  --c-cor1: #01b9f1;
  --c-cor2: white;
  --c-cor3: var(--c-amarelo);
  --c-cor4: var(--c-cinza-escuro);
  --c-cor5: #ff6088;
  --c-cor6: #ffa550;
  --c-cor7: #abff5c;
  --c-cor8: #1eecc0;
  --c-cor9: #01b9f1;
  --c-cor10: white;
  --c-cor11: #f5e744;
  --c-cor12: #353535;

  --f-normal: 'Open Sans', sans-serif;
  --f-titulo: 'Heebo', sans-serif;

  --f-pergunta: 'Open Sans', sans-serif;
  --f-resposta: 'Open Sans', sans-serif;
}

body{
  background: var(--c-back);
  background-attachment: fixed;
  color: var(--c-f-normal);
  font-family: var(--f-normal);
  font-size: 17px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body>*{
  margin-right: auto;
  margin-left: auto;
  transition: 0.09s;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--f-titulo);
  font-weight: bold;
  color: var(--c-f-titulo);
}

#cont-princ{
  background-color: transparent;
  width: 700px;
  margin-top: 130px;
  margin-bottom: 10vh;
}

button{
  font-size: 22px;
  width: fit-content;
  margin: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.08s;
}

button:hover{
  outline: none;
  cursor: pointer;
}

button i{
  transform: scale(80%);
}

#navbar{
  width: fit-content;
  margin: 40px 0;
  top: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  z-index: 2000;
}

#navbar ul{
  padding: 0;
}

#navbar ul li{
  opacity: 100%;
  list-style: none;
  display: inline-block;
}

#navbar a, #navbar a:visited{
  color: white;
  font-family: var(--f-titulo);
  font-size: 22px;
  text-decoration: none;
  text-align: right;
  margin: 0 15px;
}

#navbar a:hover{
  border-bottom: 2px solid white;
}

#navbar #nav-link-quiz{
  background-color: var(--c-amarelo);
  color: var(--c-cinza-escuro);
  font-size: 30px;
  font-weight: bold;
  margin: 0 20px;
  padding: 1px 10px;
}

#navbar #nav-link-quiz:hover{
  border: none;
}


/*
left: 50%;
-ms-transform: translateX(-50%);
transform: translateX(-50%);
position: absolute;
*/