@media screen and (min-width: 600px) and (max-width: 899px) {
  #navbar a, #navbar a:visited{
    font-size: 21px !important;
  }
  
  #navbar #nav-link-quiz{
    font-size: 28px !important;
  }

  button{
    font-size: 20px !important;
    margin: 20px 0 !important;
    padding: 8px 20px !important;
  }
}

@media screen and (max-width: 599px) {
  #cont-princ{
    overflow-x: hidden !important;
    width: 100% !important;
    margin-top: 100px !important;
    padding: 0 !important;
  }

  #navbar{
    margin: 20px 0 !important;
  }
  

  #navbar a, #navbar a:visited{
    font-size: 21px !important;
    margin: 0 5px !important;
  }
  
  #navbar #nav-link-quiz{
    font-size: 27px !important;
    margin: 0 10px !important;
  }

  button{
    font-size: 4vw !important;
    margin: 20px 0 !important;
    padding: 7px 22px !important;
  }
}
