@media screen and (min-width: 600px) and (max-width: 899px) {
  body{
    font-size: 16px;
  }

  #cont-princ{
    width: 500px;
    padding: 40px;
    margin-top: 80px;
  }

  #titulo-princ{
    margin: 3vh 0 5vh !important;
  }
  
  #titulo-princ h1{
    font-size: 30px !important;
  }

  .div-input label{
    font-size: 19px !important;
  }

  .div-input #div-div-tempo{
    grid-template-columns: 120px 20px 120px !important;
  }

  .div-btn-tempo{
    width: 30px !important;
    margin: -6.5px 1px !important;
    display: grid !important;
    grid-template-rows: repeat(2, 25px) !important;
  }
  
  .div-btn-tempo button{
    font-size: 12px !important;
    height: 25px;
    padding: 2px 10px !important;
  }

  .btn-add-r, #btn-add-p{
    font-size: 18px !important;
    width: 80% !important;
  }

  #pre-vis-aparencia{
    height: 300px !important;
    max-height: 300px !important;
    padding: 10px 25px !important;
  }

  #div-div-pre-vis{
    margin: 0 80px !important;
  }

  #pre-vis-temp{
    margin: 10px !important;
    padding: 2px 10px !important;
    border-radius: 10px !important;
  }

  #pre-vis-temp p{
   font-size: 14px;
  }

  #pre-vis-pont{
    width: 65px !important;
    margin: 40px 10px 10px !important;
    padding: 2px 15px !important;
  }
  
  #pre-vis-pont p{
    font-size: 11px !important;
    padding: 0 3px !important;
   }
  
  #pre-vis-pont li{
    font-size: 9px !important;
    margin: 2px 0 !important;
   }

  #pre-vis-tema{
    font-size: 12px !important;
    margin: 2px 0 6px !important;
  }

  #pre-vis-quiz{
    width: 180px !important;
    min-height: 200px !important;
    margin-top: 15px !important;
    padding: 8px 0 !important;
  }

  #pre-vis-header{
    padding: 0 6px !important;
  }
  
  #pre_vis_div_top p{
    font-size: 8px !important;
  }

  #pre-vis-pergunta{
    font-size: 12px !important;
    margin: 17px 0 !important;
  }

  #pre_vis_lis_r{
    margin-bottom: 17px !important;
    margin-left: 22px !important;
  }
  
  #pre_vis_lis_r li{
    font-size: 10px !important;
    margin: 2px 0 !important;
    padding: 4px 6px !important;
  }

  #div-input-apar-p{
    height: 470px;
  }

  #div-input-apar-r{
    height: 370px;
  }

  #div-div-apar{
    height: inherit;
    grid-template-columns: 100% !important;
    grid-template-rows: 220px 5vh 5vh !important;
  }

  .pre-vis-btn{
    width: 40px !important;
    height: 43px !important;
  }

  .div-cor-btn{
    margin: -20px auto 0 !important;
    padding: 8px !important;
    grid-template-columns: repeat(3, 37px) !important;
  }
  
  .btn-cor-btn{
    width: 25px !important;
    height: 25px !important;
    margin: 5px auto !important;
    padding: 0 !important;
  }

  #div-div-muda-aparencia p {
    margin: 5px!important;
  }
}

@media screen and (max-width: 599px) {
  body{
    font-size: 14px;
  }

  #cont-quiz{
    border-radius: 0 !important;
  }

  #titulo-princ{
    width: 95%;
    margin: 1vh auto 5vh !important;
    position: relative;
  }
  
  #titulo-princ h1{
    font-size: 25px !important;
  }

  .div-input{
    width: 100%;
    margin: auto;
  }

  .div-input input{
    font-size: 14px !important;
    padding: 2px !important;
  }

  .div-input label{
    font-size: 16px !important;
    margin-left: 14px;
  }

  input[type='text']{
    width: 80vw !important;
    padding: 4px 15px !important;
    margin: 3px 7px !important;
  }

  .div-input .txt-tempo{
    font-size: 17px !important;
    width: 45px !important;
    padding: 10px !important;
  }

  .div-input #div-div-tempo{
    grid-template-columns: 110px 20px 110px !important;
  }

  .div-input #div-div-tempo span{
    margin: 20px 0 !important;
    font-size: 25px !important;
  }

  .div-btn-tempo{
    width: 30px !important;
    margin: -8.5px 0 !important;
    display: grid !important;
    grid-template-rows: repeat(2, 25px) !important;
  }
  
  .div-btn-tempo button{
    font-size: 12px !important;
    height: 25px;
    padding: 2px 10px !important;
  }

  .div-pergunta{
    margin: 7vh 2vw 2vh !important;
    padding: 5px !important;
  }

  .div-pergunta .div-pergunta-titulo{
    font-size: 17px !important;
    margin: -20px 0 2vh 10px !important;
    padding: 2px 10px !important;
  }

  #pre-vis-aparencia{
    margin: 0 2vw !important;
    height: 55vw !important;
    max-height: 58vw !important;
    padding: 2vw 5vw !important;
  }

  #div-div-pre-vis{
    margin: 0 18vw !important;
  }

  #pre-vis-temp{
    margin: 2vw !important;
    padding: 1vw 2vw !important;
    border-radius: 3vw !important;
  }

  #pre-vis-temp p{
   font-size: 2.3vw;
  }

  #pre-vis-pont{
    width: 12vw !important;
    height: 16vw !important;
    margin: 9vw 2vw 2vw !important;
    padding: 1vw 2vw !important;
  }
  
  #pre-vis-pont p{
    font-size: 2vw !important;
    margin: 0.5vw auto !important;
   }

  #pre-vis-pont ul{
    margin: 0 !important;
    padding: 0.5vw 0 !important;
  }
  
  #pre-vis-pont li{
    font-size: 1.6vw !important;
    margin: 1vw 0 !important;
  }

  #pre-vis-tema{
    font-size: 2vw !important;
    margin: 1vw 0 1.5vw !important;
  }

  #pre-vis-quiz{
    width: 31vw !important;
    height: 38vw !important;
    min-height: 38vw !important;
    margin-top: 3.5vw !important;
    padding: 1vw 0 !important;
  }

  #pre-vis-header{
    padding: 0 1.5vw !important;
  }
  
  #pre_vis_div_top p{
    font-size: 1.4vw !important;
  }

  #pre-vis-pergunta{
    font-size: 2vw !important;
    margin: 2.8vw 0 !important;
  }

  #pre_vis_lis_r{
    margin-bottom: 2vw !important;
    margin-left: 3vw !important;
  }
  
  #pre_vis_lis_r li{
    font-size: 1.6vw !important;
    margin: 0 !important;
    padding: 1vw 2vw !important;
  }

  .div-cor-aparencia {
    padding-right: 40px;
  }

  .pre-vis-btn{
    width: 25px !important;
    height: 45px !important;
    margin-top: 8px !important;
    margin-bottom: 0 !important;
  }

  .div-cor-btn{
    margin: 0 auto 0 -5vw !important;
    padding: 2vw !important;
    grid-template-columns: repeat(3, 8vw) !important;
  }
  
  .btn-cor-btn{
    width: 5vw !important;
    height: 5vw !important;
    margin: 1vw auto !important;
    padding: 0 !important;
  }

  #div-div-muda-aparencia p {
    margin: 1.5vw !important;
  }

  .lis-apar-titulo{
    font-size: 14px !important;
    margin-top: 0.5vh;
  }

  #div-input-apar-p{
    height: 480px;
  }

  #div-input-apar-r{
    height: 370px;
  }

  #div-div-apar{
    height: inherit;
    grid-template-columns: 100% !important;
    grid-template-rows: 220px 5vh 5vh !important;
  }

  #lis-fonte-p, #lis-fonte-r{
    width: 200px !important;
    padding: 10px !important;
  }

  #lis-fonte-p li, #lis-fonte-r li{
    font-size: 16px !important;
    padding: 6px 10px;
  }

  .div-lis-fon-estilo i{
    font-size: 16px !important;
    margin: 0 4vw !important;
  }

  .div-lis-fon-estilo {
    margin: 15px auto 1vh !important;
  }

  .btn-add-r, #btn-add-p{
    font-size: 3.5vw !important;
    width: 80% !important;
    margin: 2vh auto !important;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
  }

  #div-btn-pag button{
    margin: 10px 2vw !important;
  }
}