@media screen and (min-width: 600px) and (max-width: 899px) {
  #cont-princ{
    width: 500px;
    padding: 40px;
    margin-top: 80px;
  }

  #titulo-princ{
    margin: 3vh 0 5vh !important;
  }
  
  #titulo-princ h1{
    font-size: 30px !important;
  }
}

@media screen and (max-width: 599px) {
  #cont-princ{
    width: 100vw;
    padding: 30px !important;
    margin-top: 80px;
  }

  #titulo-princ{
    margin: 3vh 0 5vh !important;
  }
  
  #titulo-princ h1{
    font-size: 28px !important;
  }
}