@import 'principal.css';

#cont-quiz{
  background-color: var(--c-back-conteiner);
  width: inherit;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.233);
}

#cont-quiz::after, #cont-quiz::before {
	content: ' ';
	display: table;
}

#cont-quiz::after {
	clear: both;
}

#titulo-princ{
  margin: 5vh auto 7vh;
}

#titulo-princ h1{
  background: var(--c-back-titulo);
  font-size: 40px;
  text-align: center;
  width: fit-content;
  margin: 2vh auto;
}

#titulo-princ p{
  text-align: left;
  margin: 0 2vw;
}

.div-input{
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: block;
  position: relative;
}

.div-input label{
  color: var(--c-f-titulo);
  font-family: var(--f-titulo);
  font-size: 22px;
}

.obrigatorio label::after{
  content: ' *';
  color: var(--c-vermelho-ros);
  font-size: 19px;
}

.div-input input{
  color: var(--c-f-normal);
  font-family: var(--f-normal);
  font-size: 18px;
  width: 90%;
  margin: 6px auto;
  padding: 7px 10px;
  display: block;
}

.div-input #div-div-tempo{
  width: fit-content;
  margin-left: 30px;
  display: block;
}

.div-input #div-div-tempo span{
  font-size: 25px;
}
.div-input .txt-tempo{
  font-size: 20px;
  text-align: center;
  width: 70px;
  padding: 10px 10px;
  display: inline-block;
}

.div-input #div-div-seq-perg{
  left: 30px;
  position: relative;
  width: fit-content;
}

.div-input .rd-seq-perg{
  margin: 10px 0;
  display: inline;
}

.div-pergunta{
  margin: 7vh auto 4vh;
  padding: 20px;
  border: 1px solid var(--c-cinza-escuro);
  border-radius: 8px;
}

.div-pergunta .div-pergunta-titulo{
  background-color: var(--c-back-conteiner);
  width: fit-content;
  margin: -40px 0 2vh 30px;
  padding: 5px 20px;
}

button.btn-add-r{
  background-color: var(--c-cinza-claro);
  width: 90%;
  margin: 2vh auto 1vh;
  border: 1px solid var(--c-cinza-escuro);
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

button.btn-add-r:hover{
  filter: brightness(95%);
}

button#btn-cria-quiz{
  background-color: var(--c-azul-medio);
  color: white;
  float: right;
}

button#btn-cria-quiz{
  background-color: var(--c-azul-escuro);
  transform: scale(108%);
}



